

/*===============================*/
/*        UNIVERSAL STYLE        */
/*===============================*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    background-color: #FFF;
    color: #555;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}
/*===============================*/
/*        MEADIA QUERIES         */
/*===============================*/
@media only screen and (max-width:660px){
    #item-portfolio,#item-project,#item-contact{
        display: none;
    }
}
@media only screen and (min-width:660px){
    #item-portfolio,#item-project,#item-contact{
        display: inline;
    }
    #menu{
        display: none;
    }

}

/*===============================*/
/*       REUSABLE COMPONENTS     */
/*===============================*/
header{
    height: 100vh;
    background-image:linear-gradient(rgba(33, 33, 33, 0.7),rgba(33, 33, 33, 0.3)), url(img/slider-portfolio.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.clear-div{
    clear: both !important;
    display: table;
}
.image{
    width: auto;
    height: 100%;
}


h3{
    padding: 2%;;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 160%;
    font-weight: 400;
}
h2{
    text-transform: uppercase;
    font-size: 190%;
    text-align: center;
    width: 190px;
    margin : 60px 50%;
    transform: translate(-50%,-50%);
    word-spacing: 1px;
    word-spacing: 1px;
    font-weight: 500;
    color: #1976D2;
    border-bottom: 2px solid  #ff5722;
}

/*===============================*/
/*      INTRODUCTION SECTION     */
/*===============================*/
.logo{
    margin-top: 10px;
    margin-left: 5px;
    float: left;
    height:60px;
    width: auto;
    border-bottom: 2.5px solid transparent;
    transition: 0.3s;
}
.logo:hover{
    border-bottom: 2.5px solid #FF5722;
}
/*--------Editing main navigation bar----------*/
.main-nav{
    background-color: rgba(33, 33, 33, 0.56);
    width: 100%;
    height:80px;
}
.fixed-nav{
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;
}
.full-nav{
    overflow: hidden;
}
.full-nav li{
    float: right;
    margin: 30px;
    list-style: none;
    display:inline-block;
    font-size: 116%;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.full-nav a:link,.full-nav a:visited{
    text-decoration:none;
    color: #fff;
    padding: 3px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.full-nav a:hover,.full-nav a:active{
    text-decoration:none;
    color: #fff;
    border-bottom: 2px solid  #ff5722;
}
#menu{
    position: absolute;
    right: 15px;
    top: 20px;
    font-size: 180%;
}
/*--------Editing intro box $NAME$  ----------*/
.intro-box{
    background-color:rgba(0,0,0,0.58);
    padding: 15px;
    border-radius: 4px;
    color: #fff;
    font-size: 270%;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin: auto;
    min-width: 380px;
    width: 100%;
    text-align: center;
    font-weight: 500;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*===============================*/
/*      PORTFOLIO  SECTION       */
/*===============================*/
#portfolio{
    padding-top: 44px;
    min-height: 100vh;
    height: 100%;
    width: 100%;

}
.portfolio-content{
    box-shadow: 0 -6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;
}
.desc{
    padding:30px 1%;
    word-spacing: 5px;
    text-align: justify;
    height: inherit;
    width: 100%;
}

.link-me{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: 0.3s;
}
.profile-image{
    border-radius: 5px 5px 0 0;
    width:100%;
}
.link-me:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
social-icons{
    float: right;
    opacity: 0.9;
    width: 62px;
    border-radius: 10%;
}
social-button-pallete {
    display: flex;
    align-items: flex-end;
}
social-button-pallete a{
    margin-left: 30%;
}
/*===============================*/
/*        WORK SECTION       */
/*===============================*/
#works{

 height: 100%;
    width: 100%;
    overflow: hidden;
    padding-top: 40px;
}
* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.skills__container{
    row-gap: 2rem;
    text-align: center;
  }
  .skills__subtitle{
    margin-bottom: var(--mb-2);
  }
  .skills__text{
    margin-bottom: var(--mb-4);
  }
  .skills__data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: .5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
  }
  .skills__icon{
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: var(--first-color);
  }
  .skills__names{
    display: flex;
    align-items: center;
  }
  .border{
      padding-inline-start: 10%;
      padding-inline-end: 10%;
 }
  .skills__bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
  }
  .skills__html{
    width: 95%;
    background-color: #1976D2;
  }
  .skills__css{
    width: 85%;
    background-color: #FF5722;
  }
  .skills__js{
    width: 65%;
    background-color: aquamarine;
  }
  .skills__JQ{
    width: 70%;
    background-color: chartreuse;

  }
  .skills__rjs{
    width: 40%;
    background-color: blue;

  }
  
  
  

/*      INTRODUCTION SECTION     */

footer{
}
footer .connect{
    background-color: #d9d9d9;
}
footer .connect i,footer .links .credit-links i{
    text-decoration: none;
    padding: 1% 2%;
    border-radius: 5px;
    font-size:200%;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
footer .links .credit-links i{
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    transition: 0.3s;
}
footer .connect i:hover{
    background-color: #BDBDBD;
}
footer .links .credit-links i:hover{
    border: 3px solid #FF5722;
}
footer .connect i:hover{
    border-bottom: 3px solid #FF5722;
}
footer .links{
    color: #fff;
    height: auto;
    background-color:#212121;
}
footer .links .credit{
    text-align: center;
    padding: 50px 0 20px 0;
    width:100%;
    height: auto;
}
footer .links .credit-links,footer .connect{
    padding: 10px;
    text-align: center;
    height: auto;
    color: #fff;
    font-size: 120%;

}
footer .links a{
    text-decoration: none;
    color: #2196F3;
    font-size: 100%;
}
